body{
    font-family: var(--basefont);
}


.header{
    padding: 57px 0;
}
.container{
    width:calc(100% - 320px);
    margin: auto;
   
}

.list a{
    color:#0D0E43;
}
.list .active{
color: var(--primary);
}

.bar{
    display: none;
}

@media screen and (max-width:1200px) {
    .list,.header .search{
        display: none;
    }

    .bar{
        display: block;
    }
}

@media screen and (max-width:1400px) {
   .container{
    width:calc(100% - 200px);
    
} 
}

@media screen and (max-width:992px) {
   .container{
    width:calc(100% - 100px);
   
}
 /* ;

.footer .left-side, .footer .right-side{
    width: 100%;
} */
}

@media screen and (max-width:576px) {
   .container{
    width:calc(100% - 40px);
   
} 
}

.search input{
    border: none;
    outline: none;
    width: 250px;
}
.search button,.newslatter a,.hero-content a{
    border: none;
    background-color: var(--primary);
    padding: 8px 13px;
}

.search form{
    border: 3px solid #E7E6EF;
    border-radius: 5px;
}

/* hero section */
.hero{
    background-color:#F2F0FF ;
    padding: 50px 0;
}
.hero-content{
     flex: 1 0 60%;
      
}
.hero-content .hero-lamp{
    display: block;
    position: relative;
    bottom: 97px;
   width: 30%;
}

.hero-content a{
   color: white ;
   width: fit-content;
}

.hero-content p{
    max-width: 75%;
    font-size: 12px;
}
.hero-content h1{
    max-width: 60%;
   
}
.hero-image img{
    flex: 1 0 30%;
    width: 350px;
    height: 350px;
}

@media screen and (max-width:900px) {
  .hero-content .hero-lamp{
    display: none;
    text-align: center;
  }
  

  .hero-image,.hero-content{
    align-items: center;
  }
}
@media screen and (max-width:1100px) {
  
  .hero-image img,.hero-content{
    align-items: center;
  }
}

@media screen and (max-width:500px) {


  .hero-image img{
    align-items: center;
     width: 250px;
    height: 250px;
  }
}
/* featured product */
.featured-product{
    padding: 50px 0;;
}

.featured-product h2,.featured-product .product-info{
    color: #1A0B5B;
}
.product,.productL{
    position: relative;
}
.badge-sale{
    position: absolute;
    top: 1px;
    left: 1px;
}
.badge-sale img{
    width: 90px;
}
.featured-product .product{
    width: calc((100% - 45px)/4);
    flex-grow: 1;
    flex-basis: 250px;
/* height: 250px;; */
    box-shadow: 0px 4px 4px #00000040;
}
.product .img
{
   
    height: 250px;;
    background-color:#F6F7FB ;
    padding: 30px;
    border-radius: 5px;
}

.color{
    width: 20px;
    height: 6px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.color-one{
background-color:#05E6B7 ;
}
.color-two{
    background-color: #F701A8;
}

.color-three{
    background-color: #00009D;
}
.product-details,.product-details h3,.product-details .color-three,.product-info,.product .img{
    transition: all 0.6s;
}
.product:hover .product-details{
background-color: #2F1AC4;
border-radius: 2px;
}

.product:hover .img{
background-color: #F7F7F7;

}
.product:hover  .product-details h3{
color: white;
}

.product:hover  .product-info{
color: white;
}

.product:hover  .product-details .color-three{
background-color: #FFEAC1;
}


@media screen and (max-width:1250px) {
   
.featured-product .product{
    
     flex: 1 1 45%; 
    max-width: 45%;
}
}

@media screen and (max-width:700px) {
   
.featured-product .product{
    
     flex: 1 1 100%; 
    max-width: 100%;
}
}

.product:hover .icon-buttons{
display: flex;
}

.product .icon-buttons {
    display: none;
    top: 1;
    left: 10;
 position: absolute;
  
}
.product .icon-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* يخليهم دائريين */
  border: none;
  background: none; /* خلفية فاتحة */
  color: rgb(92, 157, 248); /* لون الأيقونة */
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
   
  
}

.product .icon-btn:hover {
 color: #00009D;
  background-color: #F6F3fb;

}
.product .img button{
    background-color: #08D15F;
    color: white;
    font-size: 10px;
    padding: 9px 13px;
    display: none;
      cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.product:hover .img button{
display: block;
}

/* end of featured product */

/* leatest product */

.featured-product .productL{
    flex: 1 1 30%;  
  max-width: 30%;
    flex-basis: 250px;

}
.product-type a:hover{
    text-decoration: underline;
    color: #FB2E86;

}

.product-type{
    font-size: 14px;
    padding-top: 19px;
    padding-bottom: 58px;
}

.sale-price{
       color: #FB2E86;
       text-decoration: line-through;
}

.productL .img
{
   
    height: 270px;
   width: 350px;
   max-width: 350px;
    background-color:#F7F7F7 ;
    padding-left:70px ;
    padding-right:64px ;
    padding-bottom: 8px;
    padding-top: 33px;
    transition: all 0.6s;
    
}
.productL  .color-frame1{
    background-color: white;
}
.productL .product-details{
    max-width: 350px;
}
.productL .product-info h4{
  
  display: inline-block;
  border-bottom: 2px solid rgba(0,0,100,0.1); 
  padding-bottom: 5px;
}
.row2{
    margin-top: 116px;
}



.productL:hover .img{
background-color: white;

}
.productL .icon-buttons {
    display: none;
    padding-top: 160px;
    padding-left: 10px;
 position: absolute;
  
}
.productL:hover .icon-buttons{
display: flex;
}
.productL .icon-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* يخليهم دائريين */
  border: none;
  background: none; /* خلفية فاتحة */
  color: #00009D; /* لون الأيقونة */
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
   
  
}

.productL .icon-btn:hover {
  background-color: #F6F3fb;
}

@media screen and (max-width:1200px) {
   
.featured-product .productL{
    
     flex: 1 1 45%; 
    max-width: 45%;
}
}

@media screen and (max-width:780px) {
   
.featured-product .productL{
    
     flex: 1 1 60%; 
    max-width: 60%;
}
}

@media screen and (max-width:500px) {
   
.featured-product .productL{
    
     flex: 1 1 100%; 
    max-width: 100%;
    align-items: center;
    justify-content: center ;
}
}

/* shopex */
.shopex{
    padding: 50px 0;
    
     box-shadow: 0px 4px 4px #00000040;
}

.shopex h2{
    color: #1A0B5B;
   
}
.shopex p{
    color: #1A0B5B4D;
    font-weight: bold;
    font-size: 13px;
    max-width: 180px;
}
.shopex .products{
    flex: 1 1 45%;  
  max-width: 45%;
    /* flex-basis: 250px;
    width: calc((100% - 45px)/4);
    flex-grow: 1; */
    flex-basis: 200px;
/* height: 250px;; */
    box-shadow: 4px 5px 4px #c1c1fc40;
}
.shopex .img{
 background-color: white;
}

@media screen and (max-width:1250px) {
   
.shopex .products{
    
     flex: 1 1 45%; 
    max-width: 45%;
}
}

@media screen and (max-width:700px) {
   
.shopex .products{
    
     flex: 1 1 100%; 
    max-width: 100%;
}
}
/* trending product */

.trend-product{
    background-color:#F2F0FF ;
    padding: 50px 0;
}

.trend-product h1{
    max-width: 320px;
     color: #200e73;
     font-weight: bold;
     line-height: 35px;
}

.trend-image img{
    
    width: 400px;
    height: 400px;
}
.trend-product ul{
list-style-type: disc;
}

.trend-product ul li a{
    color: #ACABC3;
    font-size: 13px;
}

.trend-product ul .trend1::marker {
  color:#F701A8;  
  font-size: 30px; 
}


 .trend-product ul .trend2::marker {
  color:#00009D; 
  font-size: 30px; 
}

.trend-product ul .trend3::marker {
  color:#05E6B7;   
  font-size: 30px; 
}

.trend-content .link-cart{
   color: white ;
   width: fit-content;
font-size: 13px;
    border: none;
    background-color: var(--primary);
    padding: 8px 20px;
    
}
.trend-content .cart-info span{
    font-size: 12px;
    color: #151875;
}


.featured-product .product{
    box-shadow: 4px 5px 4px #c1c1fc40;
}

.featured-product h1{
font-size: 40px;
font-weight: bolder;
margin-bottom: 40px;}
@media screen and (max-width:1100px) {
  
  .trend-product .trend-image img{
   flex: 1 1 100%; 
    max-width: 100%;
  }
}

@media screen and (max-width:500px) {


  .trend-image img{
    align-items: center;
    width: 400px;
    height: 400px;
  }
}

/* extra trend product */

.product-details-trend h3{
    color: #151875;
}

.text-price{
    color: #151875;
    font-weight: bold;
}


 .img-trend{
    background-color:#F5F6F8 ;
   
    height: 250px;;
   
    padding: 30px;
 

}
.product-details-trend span{
font-size: 12px;

}


/* ******* */



 .product-discount {
     position: relative;
    margin-top: 40px;
    /* flex-grow: 1; */
      background-color: #FFF6FB; 
    
      padding: 34px 20px;
      border-radius: 3px;
      /* max-width: 0px; */
      height: 250px;
      width: 37%;
    }

    .discount-info {
         position: absolute;
        /* text-align: left; */
      max-width: 60%;
    }

    .discount-info h2 {
        
      font-size: 20px;
      color: #151875;
      padding-bottom: 11px;
    }

    .discount-info a {
      
      font-weight: bold;
      text-decoration: underline;
    }

    .product-discount .img1-margin {
        max-width: 50%;
      padding-top: 40px;
      
      margin-left: 200px;
      
    }

        .product-discount .img-margin {
         max-width: 280px;
 margin-left: 60px;    
 margin-top: 50px;  
 
    }
    .product-bg-color{
background-color:  #f5f6ff;
    }

.chair-price-info span{
    color: #151875;
    font-size: 12px;
    margin-right: 52px;
}
.chair-seat{
    width: 23%;
    margin-top: 40px;
}
.chair-seat .img-chair{
    background-color: #F5F6F8;
    padding:0 20px;
}


@media screen and (max-width:500px) {


  .img-trend {
   
 align-items: center;
  }
}


@media screen and (max-width:1300px) {


  .img-trend .fit-img{
   
    width: 220px;
    height: 220px;
    max-width: 250px;
  }
}



/* newslatter */
.newslatter{
    background-image: url("img/newslater.webp");
 padding: 175px 0;
  
    
}
.newslatter h2{
    color: #151875;
}

.newslatter a{
    transition: all 0.5s;
}
.newslatter a:hover{
    background-color: #151875;
}


/* Top Categories */

.Top-Categories{
    padding: 50px 0;
   
}

.Top-Categories h1,.Top-Categories .category-details{
    color: #1A0B5B;
}
.Top-Categories h1{
    font-size: xx-large;
}
.Top-Categories .top-category{
  
      width: calc((100% - 120px)/4);
  

    
     
   
}
.top-category img
{

      max-width: 180px;
      max-height: 180px;
      border-radius: 50%;

   
}
.Top-Categories .category-details h3{
    word-spacing: 7px;
   
}




   .top-category .img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #F6F7FB;   /* خلفية بيضاء للصورة */

   box-shadow: -5px 5px 0px rgb(160, 120, 228);
}


 .top-category .img button{
    background-color: #08D15F;
    color: white;
    font-size: 10px;
    padding: 9px 13px;
    display: none;
      cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.top-category:hover .img button{
display: block;
}




@media screen and (max-width:1250px) {
   
.Top-Categories .top-category {
    
     flex: 1 1 45%; 
    max-width: 45%;
    align-items: center;
    justify-content: center;
}

.Top-Categories .category-details{
     align-items: center;
}
}


@media screen and (max-width:1250px) {
   
.Top-Categories .top-category {
    
     flex: 1 1 45%; 
    max-width: 45%;
    align-items: center;
    justify-content: center;
}

.Top-Categories .category-details{
     align-items: center;
       max-width: 150px;
        text-align: center;
}


}
   


@media screen and (max-width:550px) {
   
.Top-Categories .top-category {
    
     flex: 1 1 100%; 
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.Top-Categories .category-details{
     align-items: center;
     text-align: center;
     max-width: 150px;
}
}
/* clients part */


.clients{
padding: 50px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px;
overflow-x: auto;
}

.clients img{
width:150px;
height:150px;
}



.clients .logo{
width:calc((100% - 75px)/6);
}


@media screen and (max-width:900px) {
  .clients .logo{
width:calc((100% - 30px)/3);
}
}
@media screen and (max-width:576px) {
  .clients .logo{
width:calc((100% - 15px)/2);
}
}

@media screen and (max-width:320px) {
  .clients .logo{
width:100%
}
}
/* footer part */

.footer .left-side{
width:calc((100% - 30px)/2);  
  /* align-items: flex-start; */
}

.footer .right-side{
   width:calc((100% - 30px)/2);  

}
.footer .left-side button, .newslatter a{
    color: white;
}

.footer{
    background-color: #E7E4F8;
    padding: 50px 0;
    
}
.footer-item h2{
    padding-bottom: 46px;;
}
.footer a ,.address-info{
    color:#8A8FB9;
}

.footer .right-side .row{
gap: 45px;
}

.footer-item{
    gap: 45px;
width:calc((100% - 70px)/3);  

}



/* container responsive */

@media screen and (max-width:1400px) {
   .container{
    width:calc((100% - 200px));
   
} 
}


@media screen and (max-width:992px) {
   .container{
    width:calc((100% - 100px));
   
} 
}

@media screen and (max-width:576px) {
   .container{
    width:calc((100% - 40px));
   
} 
}

/* @media screen and (max-width:900px) {
   .container{
    width:calc((100% - 30px)/3);
   
} 
} */

/* footer responsive */

@media screen and (max-width:992px) {
   
.footer .left-side, .footer .right-side{
    width: 100%;
}
.footer{
    text-align: center;
}
}

@media screen and (max-width:576px) {
   
.footer-item{
    width: 100%;
}
}



